/* Your CSS goes here */
#main {
  text-align: center;
}

body {
  background-image:url("/images/bg.png");
}

#close {
  position: absolute;
  top: 90px;
  right: 0;
  width: 64px;
  height: 64px;
  overflow: hidden;
  z-index: 1000;
}
#close img {
  width: 100%;
}

#footer {
  position : absolute;
  bottom : 0;
  width:100%;
  background-color:black;
  text-align:center;
}

/* For 10 inch display */
@media (min-width: 801px) {
  #close {
    top: 104px;
  }

  .enbiggen {
    font-size: 150%;
  }

  .enbiggen img
  {
    -moz-transform: scale(2);
    -ms-transform: scale(2);
    -o-transform: scale(2);
    -webkit-transform: scale(2);
    transform: scale(2);
    margin-top:50px;
  }
}

/* Only for smaller 8in screen */
@media  (max-width: 800px) {
#trailerLightChecker{
  height:50%;
  width:50%;
  }
}